@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

$light-gray: #707070;
$dark-cyan: rgb(0, 138, 138);
$hover-dark-cyan: rgb(0, 165, 165);
$light-blue: rgb(1, 120, 255);
$back-input-color: rgba(124, 124, 124, 0.05);
$very-dark-cyan-template: rgba(0, 138, 138, 0.3);
$button-active: rgb(1, 98, 209);
$button-selected-shadow: rgba(1, 120, 255, 0.3);
$input-selected-shadow: rgba(128, 128, 128, 0.3);

button {
  cursor: pointer;
}

.navigation-bar {
  height: 100%;
  width: 60%;
  min-width: 600px;
  border: solid $light-gray;
  border-width: 0 0 3px 0;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;

  .item {
    text-decoration: none;
    color: $light-gray;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 36px;
  }

  .active {
    color: $dark-cyan;
    border: solid $dark-cyan;
    border-width: 0 0 3px 0;
    position: relative;
    padding-bottom: 3px;
    top: 3px;
    transition: 100ms;
  }
}

.block-navigation {
  position: sticky;
  height: 80px;
  width: 100%;
  top: 0;
  z-index: 10;
}

.main-content-box {
  height: 800px;
  width: 60%;
  min-width: 600px;
  margin: 0 auto;

  h1 {
    text-align: center;
  }
}

.login-content-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2.5rem auto;
}

.group-input {
  width: 400px;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid rgba(0, 138, 138, 0.3);

  h1 {
    letter-spacing: 10px;
    color: rgb(1, 98, 209);
    font-family: "Roboto", sans-serif;
  }

  label {
    font-size: 24px;
  }

  input[value] {
    outline: none;
    border: 1px solid gray;
    width: 100%;
    height: 40px;
    padding: 0 0.7rem;
    font-size: 24px;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: $back-input-color;
    transition: 200ms;

    &:focus,
    &:hover {
      box-shadow: 0 0 0 3px $input-selected-shadow;
    }
  }
  button {
    margin: 1rem 0;
    width: 79%;
    outline: none;
    font-size: 18px;
    color: white;
    background-color: $light-blue;
    border-radius: 4px;
    border: none;
    height: 40px;
    transition: 200ms;

    &:focus,
    &:hover {
      box-shadow: 0 0 0 4px $button-selected-shadow;
    }

    &:active {
      background-color: $button-active;
    }
  }
}

.error-message {
  color: rgb(148, 6, 6);
  width: 79%;
  height: 36px;
  border: 1px solid rgba(231, 0, 0, 0.35);
  background-color: rgba(231, 0, 0, 0.1);
  text-shadow: 0 0 5px rgba(148, 6, 6, 0.3);
  text-align: center;
  padding-top: 5px;
  box-sizing: border-box;
  border-radius: 3px;
}

.templates-problem-box {
  height: 92%;
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;

  .unique-claim {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .text-area {
      display: flex;
      flex-direction: column;
    }

    input,
    textarea,
    button {
      width: 500px;
      box-sizing: border-box;
      outline: none;
      margin: 10px 0;
      font-size: 24px;
    }

    label {
      font-size: 22px;
    }

    input {
      height: 40px;
      text-align: center;
    }

    input,
    textarea {
      margin-top: 0;
      padding: 2px 7px;
      border: 1px solid gray;
      background-color: $back-input-color;
      border-radius: 4px;
      transition: box-shadow 200ms;

      &:focus,
      &:hover {
        box-shadow: 0 0 0 3px $input-selected-shadow;
      }
    }

    button {
      height: 50px;
      border: none;
      border-radius: 10px;
      color: white;
      text-shadow: 0 0 1px white;
      background-color: $light-blue;
      transition: 200ms;

      &:focus,
      &:hover {
        box-shadow: 0 0 0 4px $button-selected-shadow;
      }

      &:active {
        background-color: $button-active;
      }
    }

    .unique-input {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: center;
    }
  }
}

.template-block-active {
  display: flex;
  overflow: auto;
}

.home-content-box {
  border: 1px solid $dark-cyan;
  box-sizing: border-box;
}

.home-selector-block {
  height: 64px;
  background-color: $dark-cyan;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  .item {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 0 0 2px white;
    font-size: 18px;
    cursor: pointer;

    &:hover {
      background-color: $hover-dark-cyan;
    }
  }

  .active {
    cursor: initial;
    background-color: white;
    color: black;
    text-shadow: 0 0 1px black;

    &:hover {
      background-color: white;
    }
  }
}

.template-item {
  border: 1px solid $very-dark-cyan-template;
  height: 200px;
  width: 200px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h4 {
    text-align: center;
    border: solid $very-dark-cyan-template;
    border-width: 0 0 1px 0;
    margin: 0;
    padding: 5px 0;
  }

  .template-description {
    height: 60%;
    width: 100%;

    p {
      text-align: center;
      word-break: normal;
      overflow-y: auto;
      padding: 0 5px;
      margin: 0;
    }
  }

  .template-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid $very-dark-cyan-template;
    border-width: 1px 0 0 0;

    button {
      cursor: pointer;
      background-color: $light-blue;
      border: none;
      color: white;
      height: 32px;
      width: 100%;
      text-shadow: 0 0 1px white;
      transition: 200ms;

      &:active {
        background-color: $button-active;
      }
    }
  }
}

.modal-audio-component {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 300px;
}

.soundtracks {
  transition: 200ms;
  height: 0;
}

.soundtracks-true {
  height: 200px;
}

#checkbox-audio {
  width: 32px;
  height: 32px;
}

.loading {
  display: inline-flex;
  width: 400px;
  height: 450px;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.95);
}

.loading:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid rgb(0, 217, 255);
  border-color: rgb(0, 217, 255) transparent rgb(0, 217, 255) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

.loading-login {
  display: inline-flex;
  width: 99%;
  height: 99%;
  position: absolute;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.95);
}

.loading-login:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid rgb(0, 217, 255);
  border-color: rgb(0, 217, 255) transparent rgb(0, 217, 255) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.selector-block {
  width: 25%;
  background-color: $dark-cyan;

  .item {
    border: 0 solid transparent;
    border-width: 0 1px 0 0;
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
    text-shadow: 0 0 2px white;
    cursor: pointer;
    position: relative;

    &:hover {
      background-color: $hover-dark-cyan;
    }
  }

  .active::before {
    content: "";
    position: absolute;
    width: 3px;
    left: -1px;
    height: 103%;
    background-color: $light-gray;
  }

  .active {
    color: black;
    background-color: white;
    text-shadow: 0 0 1px black;
    border: 1px solid transparent;
    cursor: initial;

    &:hover {
      background-color: white;
    }
  }
}

.main-cabinet-box {
  margin-top: 3px;
  display: flex;
}

.info-block {
  width: 75%;
  height: 100%;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  border: 1px solid $dark-cyan;

  .container {
    display: none;
  }

  .active {
    display: flex;

    input,
    label,
    button {
      margin: 15px 0;
      height: 40px;
      width: 350px;
      outline: none;
      font-size: 24px;
    }

    label {
      margin-bottom: 0;
    }

    input {
      box-sizing: border-box;
      padding: 0 8px;
      border-radius: 4px;
      margin-top: 2px;
      border: 1px solid gray;
      background-color: $back-input-color;
      transition: 200ms;

      &:focus,
      &:hover {
        box-shadow: 0 0 0 3px $input-selected-shadow;
      }
    }

    button {
      cursor: pointer;
      background-color: $light-blue;
      height: 50px;
      border-radius: 10px;
      color: white;
      text-shadow: 0 0 1px white;
      border: none;
      transition: 200ms;

      &:focus,
      &:hover {
        box-shadow: 0 0 0 4px $button-selected-shadow;
      }

      &:active {
        background-color: $button-active;
      }
    }

    .disabled .button {
      cursor: initial;
      background-color: black;
      color: $light-gray;
      text-shadow: 0 0 1px $light-gray;

      &:hover {
        box-shadow: none;
      }
    }
  }
}

.info-block-active {
  border-top: 0;
}

.template-form {
  border: 1px solid $very-dark-cyan-template;
  display: flex;
  flex-direction: column;
  height: 60%;
  width: 45%;
  justify-content: space-between;
  overflow-y: auto;

  h1 {
    margin: 0;
  }

  .template-cross {
    display: flex;
    align-items: flex-end;
    flex-direction: column;

    button {
      height: 40px;
      width: 40px;
      font-size: 32px;
      padding: 0;
      margin: 0;
      border: none;
      background: none;
      color: $light-blue;

      &:active {
        color: $button-active;
      }
    }
  }

  .input-template {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .disabled {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }

  input,
  textarea {
    width: 95%;
    margin: 0;
    box-sizing: border-box;
  }

  label {
    font-size: 24px;
  }

  textarea {
    font-size: 18px;
    padding: 2px 7px;
    border: 1px solid gray;
    background-color: rgba(124, 124, 124, 0.05);
    border-radius: 4px;
    outline: none;
    transition: box-shadow 200ms;

    &:focus,
    &:hover {
      box-shadow: 0 0 0 2px $input-selected-shadow;
    }
  }

  input {
    font-size: 30px;
    height: 40px;
    text-align: center;
    padding: 2px 7px;
    border: 1px solid gray;
    border-radius: 4px;
    background-color: black;
    color: white;
    text-shadow: 0 0 2px white;
  }

  .template-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;

    button {
      outline: none;
      width: 95%;
      height: 40px;
      border: 1px solid $light-blue;
      border-radius: 10px;
      background-color: $light-blue;
      font-size: 24px;
      color: white;
      text-shadow: 0 0 1px white;
      transition: 200ms;

      &:focus,
      &:hover {
        box-shadow: 0 0 0 4px $button-selected-shadow;
      }

      &:active {
        background-color: $button-active;
      }
    }
  }
}
